extends layout

block content
	body
		script.
			$(document).ready(function() {
				$('#networks').DataTable({
				"scrollY":        "800px",
				"scrollCollapse": true,
				"paging":         false
				});
			});

		.container-fluid
			table#networks.table.table-hover.datatables
				thead
					tr
						th Name
						th Type
						th Uploader
						th Nodes
						th Links
						th Services
						
				tbody
					each network in networks
						tr
							td 
								a(href=network.path_file_name) #{network.file_name}  
							td= network.type
							td= network.owner
							td= network.number_of_nodes
							td= network.number_of_links
							td= network.number_of_services						


